#viewDiv {
	padding: 0;
	margin: 0;
	height: 95%;
	width: 100%;
	z-index:-8;
}
#searchBoxes {
}
#topButtons {
	position:fixed;
	top:68px;
	left:305px;
	display:block;
	z-index:2;
	height:70px;
	
}
.topButton {
	padding-left:5px;
	padding-bottom:2.5px;
	padding-right:5px;
	padding-top:2.5px;
	background-color:#ffffff;
	border-radius:10px;
	width:76px
}
.topButton:hover {
	cursor: pointer;
	background-color:#40B4E5;
}
.topImage{
	padding-top:5px;
	width:30px;
	height:30px;
}
#walkImage {
	padding-left:14px;
	padding-right:14px;
}
#settingImage {
	padding-left:15px;
	padding-right:14px;
}
#travelmodeBox {
	position:fixed;
	top:130px;
	left:305px;
	z-index:1;
	display:none;
	flex-wrap: wrap;
    justify-content: center;
	
}
#trackingBox {
	padding-top:5px;
	
	width:150px;
	height:30px;
	left:365px;
	top:130px;
	display:none;
	flex-wrap: wrap;
    justify-content: left;
	border-radius:10px;
	border-width:2px;
	border-style:solid;
	border-color:black;
}
@media (max-width: 600px) {
	#trackingBox {
	 margin-top: auto;
     width: 60%;
  	}
	#travelmodeBox {
		right:9%;
	}
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #002145;
  overflow: hidden;
  
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Arial;
  float: right;
}
#directions {
	background-color: #ffffff;
	width:200px;
	height:400px;
	overflow-y:scroll;
}

#accessBox {
	background-color: #ffffff;
	width:200px;
	height:140px;
}

#logo {
	position:absolute;
	top:15px;
	left:20px;
	font-size:12px;
	color: #f2f2f2;
	
}

#locationButton {
	position:absolute;
	top:113px;
	left:263px;
	height:32px;
	background-color: #ffffff;
	z-index:2;
/*	display:block;*/
}

a {
	color: #00A8E0
}
.w3-bar {
	background-color:'#002145'
}
.esri-expand-widget__button::before {
    content: "Expand";
}