#viewDiv {
	padding: 0;
	margin: 0;
	height: 94%;
	width: 100%;
}
.esri-widget-search {
    z-index: 60
}
#topButtons {
	position:absolute;
	top:60px;
	left:16%;
	display:block;
	z-index:2;
	height:80px;
	
}
#directionsImage {
	width:40px;
	height:45px;
	padding-top:5px
}
#directionsButton {
	cursor: pointer;
	background-color: #ffffff;
	border-radius:30px;
}
#directionsButton:hover {
	background-color:#0680A6;
}
#travelmodeBox {
	position:absolute;
	top:150px;
	left:20px;
	z-index:1;
	display:none;
}
.travelButton {
	padding-left:22px;
	padding-right:22px;
	background-color:#ffffff;
	border-radius:1px;
}
.travelImage{
	width:30px;
	height:35px;
	padding-top:5px;
}
.travelButton:hover {
	cursor: pointer;
	background-color:#40B4E5;
	
}
#accessButton {
	cursor: pointer;
	background-color: #ffffff;
	border-radius:30px;
}
#wheelchairImage {
	width:40px;
	height:45px;
	padding-top:5px
}
#accessButton:hover {
	background-color:#0680A6;
}
#layerImage {
	width:40px;
	height:45px;
	padding-top:5px
}
#layerButton {
	cursor: pointer;
	background-color: #ffffff;
	border-radius:30px;
}
#layerButton:hover {
	background-color:#0680A6;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #002145;
  overflow: hidden;
  
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Arial;
  float: right;
}

#accessBox {
	background-color: #ffffff;
	border: 1px solid;
	left:79.5%;
	position:absolute;
	width: 360px;
	top:70px;
	height:180px;
	font-family: Arial;
	display:none;
}

.catcontent {
  display:none; 
}
.catheading {
  cursor: pointer;
}
#logo {
	position:absolute;
	top:15px;
	left:20px;
	font-size:12px;
	color: #f2f2f2;
	
}
/*
#directionsButton {
	position:absolute;
	top:71px;
	left:260px;
	height:32px;
	background-color: #ffffff;
	z-index:2
}
*/
#locationButton {
	position:absolute;
	top:113px;
	left:263px;
	height:32px;
	background-color: #ffffff;
	z-index:2;
/*	display:block;*/
}
#directionsBox {
	background-color: #ffffff;
	border: 1px solid;
	left:79.5%;
	position:absolute;
	width: 360px;
	top:390px;
	height:500px;
	overflow-y:scroll;
	font-family: Arial;
	display:none;
}
#layerListDiv {
	position:absolute;
	top:12px;
	left:300px;
}
#popupBox {
	display:visible;
	position:absolute;
	top:245px;
	left:18px;
	width:350px;
	height:500px;
	color: #000000;
	background-color: #ffffff;
	border: 1px solid;
	font-size:16px;
	font-family: Arial;
}
#buildingpicture {
	position:absolute;
	top:65px;
	left:25px;
	width:300px;
	height:175px;
	color: #000000;
	background-color: #ffffff;
	border: 1px solid;
	font-size:16px;
	padding-left:5px;
}
#addressinfo {
	position:absolute;
	top:245px;
	left:25px;
	width:300px;
	height:50px;
	color: #000000;
	background-color: #ffffff;
	font-size:16px;
	padding-left:5px;
	font-family: Arial;
}
#additionalinfo {
	position:absolute;
	top:305px;
	left:25px;
	width:300px;
	height:50px;
	color: #000000;
	background-color: #ffffff;
	font-size:16px;
	padding-left:5px;
	font-family: Arial;
}
#infobuttons {
	position:absolute;
	top:445px;
	left:25px;
	width:300px;
	height:50px;
	color: #000000;
	background-color: #ffffff;
	font-size:16px;
	padding-left:5px;
	font-family: Arial;
}

a {
	color: #00A8E0
}
.w3-bar {
	background-color:'#002145'
}

#routeState{
    position: absolute;
    top: 70px;
    left: 275px;
    z-index: 9999;
    background: #ffffff;
	display:none;
}
