#viewDiv {
	padding: 0;
	margin: 0;
	height: 95%;
	width: 100%;
}
.esri-widget-search {
    z-index: 60
}

#searchBoxes {
}
#topButtons {
	position:fixed;
	top:68px;
	left:305px;
	display:block;
	z-index:2;
	height:80px;
	
}
.topButton {
	padding-left:5px;
	padding-right:5px;
	background-color:#ffffff;
	border-radius:10px;
}
.topButton:hover {
	cursor: pointer;
	background-color:#40B4E5;
}
.travelImage {
	padding-top:2px;
	width:30px;
	height:30px;
}
.topImage{
	padding-top:5px;
	width:30px;
	height:30px;
}
#walkImage {
	padding-left:14px;
	padding-right:14px;
}
#settingImage {
	padding-left:15px;
	padding-right:14px;
}
#travelmodeBox {
	position:fixed;
	top:130px;
	left:305px;
	z-index:1;
	display:none;
}
#trackingBox {
	padding-top:5px;
	position:relative;
	width:225px;
	height:30px;
	top:160px;
	left:300px;
	border-radius:10px;
	border-width:2px;
	border-style:solid;
	border-color:black;
	display:none;
}
.travelButton {
	padding-left:12px;
	padding-right:12px;
	background-color:#ffffff;
	border-radius:10px;

}
.travelButton:hover {
	cursor: pointer;
	background-color:#40B4E5;
}


/* Add a black background color to the top navigation */
.topnav {
  background-color: #002145;
  overflow: hidden;
  
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Arial;
  float: right;
}

#hiddenMenus {
	position:fixed;
	left:550;
	top:15px;
}
#accessBox {
	background-color: #ffffff;
	border: 1px solid;
/*	left:30%;*/
	position:relative;
	width: 360px;
	top:55px;
	height:180px;
	font-family: Arial;
	display:none;
}
#layerList {
	top:200px;
	left:562px;
}
.catcontent {
  display:none; 
}
.catheading {
  cursor: pointer;
}
#logo {
	position:absolute;
	top:15px;
	left:20px;
	font-size:12px;
	color: #f2f2f2;
	
}
/*
#directionsButton {
	position:absolute;
	top:71px;
	left:260px;
	height:32px;
	background-color: #ffffff;
	z-index:2
}
*/
#locationButton {
	position:absolute;
	top:113px;
	left:263px;
	height:32px;
	background-color: #ffffff;
	z-index:2;
/*	display:block;*/
}
#directionsBox {
	background-color: #ffffff;
	border: 1px solid;
	left:1.2%;
	position:absolute;
	width: 460px;
	top:250px;
	height:375px;
	overflow-y:scroll;
	font-family: Arial;
	display:none;
	z-index:0;
}

a {
	color: #00A8E0
}
.w3-bar {
	background-color:'#002145'
}

#routeState{
    position: absolute;
    top: 70px;
    left: 275px;
    z-index: 9999;
    background: #ffffff;
	display:none;
}
